.nav{
  background-color: #fff;
  height: 40px;
  display: flex;
  justify-content:space-between;
  align-items: center;
  gap: 5em;
  padding: 10px 80px;
  position: sticky;
  top: 0;
  box-shadow: 0px 2px 4px -1px rgba(119,136,153,0.7);
-webkit-box-shadow: 0px 2px 4px -1px rgba(119,136,153,0.7);
-moz-box-shadow: 0px 2px 4px -1px rgba(119,136,153,0.7);
  z-index: 10;
} 

  .nav_menu{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
    font-size: 17px;
    color: darkslategray; 
    display: flex;
    justify-content:space-between;
    align-items: center;
    gap: 3em;
    padding: 10px;
    list-style: none;
    
  }

  .nav_menu li{
    cursor: pointer;
  }

  .portfolio{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
    color: darkslategray; 
    font-size: 25px;
    cursor: pointer;
  }
  

  @media (max-width: 765px) {
    .nav{    
      display: flex;
      justify-content:center;
      align-items: center;
      
    } 
    .portfolio{
      display: none;
    }
  }