/* intro */
.intro{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 700px;
  text-align: center;
  color: #fff;
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  background: linear-gradient(rgba(50, 90, 133, 0.7), rgba(15, 36, 62, 0.8)), url('./../public/communication.png');
  background-size: cover;  
  
}
.intro-container{
  padding-top: 35px;
}
.intro p{
  color: #fff;  
  margin: 5px;
}
.intro span{
  color: rgb(49, 178, 222);
}

.intro .toeic{
  color: rgb(49, 178, 222);
}

/* intro */

hr {
  width: 98%;
  border-top: 1px solid lightgray;
  margin-top: 30px;
  margin-bottom: 30px;
}







